<style>
  .emojify {
    font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
    font-size: 2rem;
    vertical-align: middle;
}
@media screen and (max-width:650px) {
  .nowrap {
    display: block;
    margin: 25px 0;
}
}


.tabAdd {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  float: right;
  text-align: right;
  position: relative; right: 0;
}

/* Style the buttons inside the tab */
.tabAdd button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-align: right;
  position: relative; right: 0;
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* Change background color of buttons on hover */
.tabAdd button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabAdd button.active {
  background-color: #ccc;
}




/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

</style>
